@import "./variables";

.form-group {
  mat-form-field {
    display: inline;
    .mat-mdc-text-field-wrapper {
      background-color: $background-color;
      .mat-mdc-form-field-flex {
        .mat-mdc-form-field-infix {
          .form-control:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
      .mat-mdc-input-element {
        color: $text-default;
      }
      .mdc-floating-label {
        color: $text-default;
      }
    }
  }
}

.cdk-overlay-container {
  z-index: 1051 !important;
}

.mat-mdc-select-value-text{
  color: $text-default !important;
}
