$background-color: #fdfdfd;
$background-color-container: #e9ecef;
$white: #ffffff;
$error-color: #f51837;
$blue-btn-color: #189bd5;
$blue-btn-hover-color: #117099;
$red-btn-color: #dc3545;
$red-btn-hover-color: #c82333;
$green-color: #bece08;
$text-default: #4c4c4c;
$middle-grey: #808080;
$input-border: #d9d9d9;
$color-option-bg-hover: #f5f6f7;

$disabled-background: #e5e5e5;
$disabled-input-background: #eee;
$disabled-text-color: #bbb;

$transition-config: 0.5s ease all;
